<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>BookPage</title>-->
<!--</head>-->
<!--<body>-->
<!--Book name:&nbsp&nbsp&nbsp<th:block th:text= "${book.getBookname()}"/>-->
<!--<br>-->
<!--ISBN:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<th:block th:text= "${book.isbn}"/>-->
<!--<br>-->
<!--Book author:&nbsp<th:block th:text= "${book.author}"/>-->
<!--<br/>-->
<!--<form action="/" method="get">-->
<!--    <button type="submit">Go To ADD Page</button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->